In [62]:
import pandas as pd
import io
import requests
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from geopy.geocoders import Nominatim
%matplotlib inline

url="https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2016-01.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
c.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2016-01-01 00:29:24,2016-01-01 00:39:36,N,1,-73.928642,40.680611,-73.924278,40.698044,1,...,8.0,0.5,0.5,1.86,0.0,NaN,0.3,11.16,1,1.0
1,2,2016-01-01 00:19:39,2016-01-01 00:39:18,N,1,-73.952675,40.723175,-73.923920,40.761379,1,...,15.5,0.5,0.5,0.00,0.0,NaN,0.3,16.80,2,1.0
2,2,2016-01-01 00:19:33,2016-01-01 00:39:48,N,1,-73.971611,40.676105,-74.013161,40.646072,1,...,16.5,0.5,0.5,4.45,0.0,NaN,0.3,22.25,1,1.0
3,2,2016-01-01 00:22:12,2016-01-01 00:38:32,N,1,-73.989502,40.669579,-74.000648,40.689034,1,...,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0
4,2,2016-01-01 00:24:01,2016-01-01 00:39:22,N,1,-73.964729,40.682854,-73.940720,40.663013,1,...,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1.0

In [34]:
c['lpep_pickup_datetime'] = pd.to_datetime(c['lpep_pickup_datetime'],format = '%Y-%m-%d %H:%M:%S')
c['Lpep_dropoff_datetime'] = pd.to_datetime(c['Lpep_dropoff_datetime'],format = '%Y-%m-%d %H:%M:%S')

In [64]:
hist(c['Lpep_dropoff_datetime']-c['lpep_pickup_datetime'])

In [35]:
c.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2016-01-01 00:29:24,2016-01-01 00:39:36,N,1,-73.928642,40.680611,-73.924278,40.698044,1,...,8.0,0.5,0.5,1.86,0.0,NaN,0.3,11.16,1,1.0
1,2,2016-01-01 00:19:39,2016-01-01 00:39:18,N,1,-73.952675,40.723175,-73.923920,40.761379,1,...,15.5,0.5,0.5,0.00,0.0,NaN,0.3,16.80,2,1.0
2,2,2016-01-01 00:19:33,2016-01-01 00:39:48,N,1,-73.971611,40.676105,-74.013161,40.646072,1,...,16.5,0.5,0.5,4.45,0.0,NaN,0.3,22.25,1,1.0
3,2,2016-01-01 00:22:12,2016-01-01 00:38:32,N,1,-73.989502,40.669579,-74.000648,40.689034,1,...,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0
4,2,2016-01-01 00:24:01,2016-01-01 00:39:22,N,1,-73.964729,40.682854,-73.940720,40.663013,1,...,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1.0

In [48]:
c.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

# Exploratory Data Analysis

In [5]:
c.isnull().sum()

VendorID                       0
lpep_pickup_datetime           0
Lpep_dropoff_datetime          0
Store_and_fwd_flag             0
RateCodeID                     0
Pickup_longitude               0
Pickup_latitude                0
Dropoff_longitude              0
Dropoff_latitude               0
Passenger_count                0
Trip_distance                  0
Fare_amount                    0
Extra                          0
MTA_tax                        0
Tip_amount                     0
Tolls_amount                   0
Ehail_fee                1445285
improvement_surcharge          0
Total_amount                   0
Payment_type                   0
Trip_type                      2
dtype: int64

In [3]:
len(c)

1445285

In [8]:
c.dtypes

VendorID                   int64
lpep_pickup_datetime      object
Lpep_dropoff_datetime     object
Store_and_fwd_flag        object
RateCodeID                 int64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude        float64
Dropoff_latitude         float64
Passenger_count            int64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
Ehail_fee                float64
improvement_surcharge    float64
Total_amount             float64
Payment_type               int64
Trip_type                float64
dtype: object

In [9]:
c.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

In [60]:
sum(c['Tolls_amount'].unique()<0)

4

In [10]:
c['VendorID'].unique()

array([2, 1], dtype=int64)

In [12]:
len(c['lpep_pickup_datetime'].unique())

1044823

In [17]:
geolocator = Nominatim()

In [30]:
lat = c['Pickup_latitude'][0]
long = c['Pickup_longitude'][0]
location = geolocator.reverse(','.join([str(lat),str(long)]))
location.address.split(',')

['360',
 ' Malcolm X Boulevard',
 ' Bedford-Stuyvesant',
 ' BK',
 ' Kings County',
 ' NYC',
 ' New York',
 ' 11233',
 ' United States of America']

In [31]:
lat = c['Dropoff_latitude'][0]
long = c['Dropoff_longitude'][0]
location = geolocator.reverse(','.join([str(lat),str(long)]))
location.address.split(',')

['1296',
 ' Myrtle Avenue',
 ' Bushwick',
 ' Kings County',
 ' NYC',
 ' New York',
 ' 11221',
 ' United States of America']

In [47]:
dr = c['lpep_pickup_datetime']

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

dr.isin(holidays).sum()

7

In [ ]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2015-07-01', end='2015-07-31')
df = pd.DataFrame()
df['Date'] = dr

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df['Holiday'] = df['Date'].isin(holidays)
print df

In [50]:
from nytimesarticle import articleAPI
#api = articleAPI('de1d448e546c4d2499853ed6dab0b025')
api = articleAPI('f4beb45eaf134f079867fd5f33b588d5')
import time
import numpy as np
import collections

In [ ]:
def parse_articles(articles):
    '''
    This function takes in a response to the NYT api and parses
    the articles into a list of dictionaries
    '''
    news = []
    try:
        if articles['response']['docs'] is not None:
            for i in articles['response']['docs']:
                
                for x in range(0,len(i['keywords'])):
                    if 'glocations' in i['keywords'][x]['name'] and 
                        locations.append(i['keywords'][x]['value'])
                dic['locations'] = locations
            
                dic = {}
                dic['id'] = i['_id']
                if i['abstract'] is not None:
                    dic['abstract'] = i['abstract'].encode("utf8")
                else:
                    dic['abstract'] = np.nan
                dic['headline'] = i['headline']['main'].encode("utf8")
                dic['desk'] = i['news_desk']
                dic['date'] = i['pub_date'][0:10] # cutting time of day.
                dic['section'] = i['section_name']
                if i["lead_paragraph"] is not None:
                     dic["lead_paragraph"] = i["lead_paragraph"].encode("utf8")
                else:
                    dic["lead_paragraph"] = np.nan
                dic['source'] = i['source']
                dic['type'] = i['type_of_material']
                dic['url'] = i['web_url']
                dic['word_count'] = i['word_count']
        # locations
                locations = []
                for x in range(0,len(i['keywords'])):
                    if 'glocations' in i['keywords'][x]['name']:
                        locations.append(i['keywords'][x]['value'])
                dic['locations'] = locations
        # subject
                subjects = []
                for x in range(0,len(i['keywords'])):
                    if 'subject' in i['keywords'][x]['name']:
                        subjects.append(i['keywords'][x]['value'])
                dic['subjects'] = subjects 
                
                dic = collections.OrderedDict(sorted(dic.items()))
                news.append(dic)
            return(news)
    except KeyError:
        pass